/* VARIABLES */
:root {
  --primary: #ffffff;
  --secondary: #d9d9d9;
  --tertiary: #353535;
  --fourth: #284b63;
  --fifth: #3c6e71;
}

/* UTILITIES */
* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: var(--primary);
  color: var(--tertiary);
}

a {
  text-decoration: none;
  color: var(--fourth);
  font-weight: bold;
  transition: color 0.1s;
}

a:hover {
  color: var(--fifth);
}

button {
  background-color: var(--fourth);
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color 0.1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: var(--fifth);
}

textarea,
input {
  padding: 0.5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus,
input:focus {
  outline: none;
  border: 1px solid var(--fourth);
}

textarea {
  min-width: 40%;
  min-height: 100px;
  background-color: var(--primary);
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

header {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
  background-color: var(--secondary);
}

header h1 {
  font-size: 1.4rem;
}

main {
  flex: 1;
  padding: 2%;
}

footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
  background-color: var(--secondary);
  color: var(--fourth);
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* POSTS */
.post-list {
  margin: 0;
  padding: 0;
}

.post {
  margin-bottom: 1%;
}

.title {
  background-color: var(--secondary);
}

.post .title a {
  text-decoration: none;
  color: var(--fourth);
  font-weight: bold;
  transition: color 0.1s;
  font-size: larger;
  margin: 1%;
}

.post .title p {
  color: var(--fifth);
}

/* COMMENTS */
.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: 0.5%;
  opacity: 0.6;
}

/* BUTTONS */
.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: var(--fourth);
  font-size: 100%;
  font-weight: bold;
  transition: color 0.1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: var(--fifth);
}

.delete-post-btn {
  background-color: var(--secondary);
}

.delete-post-btn:hover {
  background-color: var(--tertiary);
}

.edit-link {
  display: block;
  margin: -1% 0 2% 0;
}

/* FORMS */
.new-post-form input {
  width: 300px;
  background-color: #fff5eb;
}

.edit-post-form {
  margin-bottom: 5%;
}
